<div class="container">
    <h1>Tarefas a Fazer</h1>

    <div class="lista-tarefas">

       {{#each tarefas}}
            {{#if this.concluida}}

            {{else}}
                <div class="tarefa">
                    <div class="titulo">
                        <a href="/editar/{{this.id}}">{{this.titulo}}</a>
                    </div>
                    <div class="opcoes">
                        <form action="/status" method="post">
                            <input type="hidden" name="link" value="/">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <input type="hidden" name="concluida" value="{{this.concluida}}">
                            <button class="opcoes-btns bi bi-check2-square" type="submit" title="Marcar como Concluida"></button>
                        </form>

                        <a href="/editar/{{this.id}}" class="bi bi-pencil-square" title="Editar Tarefa"></a>

                        <form action="/deletar" method="post">
                            <input type="hidden" name="id" value="{{this.id}}">
                            <input type="hidden" name="titulo" value="{{this.titulo}}">
                            <button class="opcoes-btns bi bi-x-square" type="submit" title="Excluir"></button>
                        </form>
                        
                    </div>
                </div>
            {{/if}}
        {{/each}}

    </div>
</div>
